
	{% for item in site.data.coral %}


<details> 
	<summary>{{item.name}}  &nbsp; <p2>{{item.compositor}}</p2></summary>
	

	
  {% if item.description != none %}
    <p style="font-size: 1.4em">
    {{item.description}}
    {% endif %}
    </br>
	</p>
	
	{% if item.poem != none %}
	<center>
	<p>
    {% for item in item.poem %}
	
	{{item}}
    
	</br>
	{% endfor %}
	</p>
	</center>
	{% endif %}

	{% if item.descriptionII != none %}
	{{item.descriptionII}}
	<br>
	{% endif %}


	{% if item.todos != none %}
	Todos
    <audio controls>
  	<source src="https://drive.google.com/uc?export=view&id={{item.todos}}" type="audio/mp3">
Your browser does not support the audio element.</audio>

    {% endif %}

    {% if item.soprano != none %}
	Soprano
    <audio controls>
  	<source src="https://drive.google.com/uc?export=view&id={{item.soprano}}" type="audio/mp3">
Your browser does not support the audio element.</audio>
    {% endif %}

   {% if item.contraltos != none %}
	Contralto
    <audio controls>
  	<source src="https://drive.google.com/uc?export=view&id={{item.contraltos}}" type="audio/mp3">
Your browser does not support the audio element.</audio>
    {% endif %}

    {% if item.tenor != none %}
	Tenor
    <audio controls>
  	<source src="https://drive.google.com/uc?export=view&id={{item.tenor}}" type="audio/mp3">
Your browser does not support the audio element.</audio>
    {% endif %}

    {% if item.baixo != none %}
	Baixos
    <audio controls>
  	<source src="https://drive.google.com/uc?export=view&id={{item.baixo}}" type="audio/mp3">
Your browser does not support the audio element.</audio>
    {% endif %}

    {% if item.link != none %}

    </br>
    </br>
    <details>
    	<summary><p4>Partitura</p4></summary>
    	<iframe src="{{item.link}}" style="width:100%; height:500px" frameborder="0" ><p>Oops! You don't support PDFs!</p></iframe> 
	</details>

	{% endif %}
	{% if item.materials != none %}
	<details><summary><p4>software and other materials for performance
    </p4></summary>
    {{item.materials}}
  
</details>
    {% endif %}
    
    
    {{item.video}}
    

    </details>

    </br>
    </br>
  {% endfor %}

