<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
  
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>{{ page.title }}</title>
    <site-title href="/">Davi Raubach</site-title>
    {% include navigation.html %}
     

       

  
  </head>
  <body>
     <title>{{ page.title }}</title>
  <div class="about" style="text-align: justify">
      {{ content }}
</div>
    <footer>

    

    </footer>
   
  </body>
</html>
   
    