<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
  
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/css/style.css">
    <div style="text-align: right;"><a href="index-pt.html">Português</a><a href="index.html">English</a></div>

    <site-title href="/">Davi Raubach</site-title>
    {% include navigation.html %}
     

       

  
  </head>
  <body>
     <title>{{ page.title }}</title>
  <div class="about" style="text-align: justify">
      {{ content }}
    
<form
  action="https://formspree.io/xgevwddr"
  method="POST"
  target="_blank"
>

<label>
    <p>name:
    <input type="text" name="_name">
  </label>
  <label>
    <br>
  email:
    <input type="text" name="_replyto">
  </label>
  <label>
    <br>
   message:
   <br>
    <textarea name="message"></textarea>
  </label>
  <br>
  <button type="submit" target="blanck">send</button></p>
</form>



</div>
    <footer>
      

    

    </footer>
   
  </body>
</html>
   
    