<!doctype html>
<html lang="pt-br">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>

    <meta charset="utf-8">

    <link rel="stylesheet" href="assets/css/style.css">

    <div style="text-align: right"><a href="/bio-pt.html">Português</a><a href="index.html">English</a></div>

   <site-title>Davi Raubach</site-title>

     {% include navigation-pt.html %}
  </head>
  <body>


    <section>
      <div class="comp">
        {{ content }}

        {% include musiclist-layout-pt.html %}

      </div>


    </section>
    <footer>

    </footer>

  </body>
</html>
